<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cross-platform GUI library for Rust focused on simplicity and type-safety.">
    <meta name="keywords" content="Rust, GUI, iced, toolkit, widget, framework, user, interface">

    <title>iced - A cross-platform GUI library for Rust</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css">
    <link rel="stylesheet" href="main.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"
        integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg=="
        crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="container">
            <ul>
                <li>
                    <img alt="iced logo (white)" src="logo.white.svg" style="height: 40px">
                </li>
            </ul>
            <ul>
                <li>
                    <details class="dropdown">
                        <summary>Documentation</summary>
                        <ul>
                            <li>
                                <a href="https://book.iced.rs/">
                                    <span class="icon">
                                        <i class="fas fa-bookmark"></i>
                                    </span>
                                    <span>Guide</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://docs.rs/iced/">
                                    <span class="icon">
                                        <i class="fas fa-box"></i>
                                    </span>
                                    <span>Latest Release</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://docs.iced.rs/iced/">
                                    <span class="icon">
                                        <i class="fas fa-code-branch"></i>
                                    </span>
                                    <span>Development Branch</span>
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>
                <li>
                    <a href="https://discourse.iced.rs/">
                        <span class="icon">
                            <i class="fab fa-discourse"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://discord.gg/3xZJ65GAhd">
                        <span class="icon">
                            <i class="fab fa-discord"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/@iced-rs">
                        <span class="icon">
                            <i class="fab fa-youtube"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/iced-rs/iced">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="hero">
            <img alt="iced logo" src="logo.svg">
            <h1>iced</h1>
            <p class="secondary">
                A cross-platform GUI library for Rust focused on simplicity and type-safety.
            </p>
            <div class="grid">
                <a role="button" href="https://book.iced.rs/">Get started</a>
                <a role="button" href="https://github.com/iced-rs/iced" class="contrast">Contribute</a>
            </div>
        </section>

        <section id="showcase">
            <h1><a href="#showcase" class="secondary">#</a> Showcase</h1>

            <div id="showcase-items">
            </div>
        </section>
    </main>
    <script src="main.js"></script>
    <script>
        // List of showcase projects; Edit this list to add or remove projects
        // Inspired by wgpu.rs
        const showcase_list = [
            {
                "name": "COSMIC",
                "description": "A new desktop environment for <a href=\"https://pop.system76.com/\">Pop!_OS</a> and other Linux distributions.",
                "website": "https://system76.com/cosmic/",
                "thumbnail": "showcase/cosmic.png",
                "has_webp": false,
            },
            {
                "name": "Halloy",
                "description": "An open-source IRC client written in Rust that aims to be fast and simple.",
                "website": "https://github.com/squidowl/halloy",
                "thumbnail": "showcase/halloy.gif",
                "has_webp": false,
            },
            {
                "name": "Kraken Desktop",
                "description": "A super-charged trading station. Fully customizable. Fully powered by Kraken.",
                "website": "https://kraken.com/desktop",
                "thumbnail": "showcase/kraken_desktop.png",
                "has_webp": false,
            },
            {
                "name": "Sniffnet",
                "description": "A network monitoring tool to help you easily keep track of your Internet traffic.",
                "website": "https://sniffnet.net/",
                "thumbnail": "showcase/sniffnet.webp",
                "has_webp": false,
            },
            {
                "name": "Madamiru",
                "description": "A media player that can dynamically shuffle multiple media in a grid layout.",
                "website": "https://github.com/mtkennerly/madamiru",
                "thumbnail": "showcase/madamiru.webp",
                "has_webp": false,
            },
            {
                "name": "Icebreaker",
                "description": "A local AI chat app powered by Rust, iced, Hugging Face and llama.cpp",
                "website": "https://github.com/hecrj/icebreaker",
                "thumbnail": "showcase/icebreaker.gif",
                "has_webp": false,
            },
            {
                "name": "ashell",
                "description": "A ready to go Wayland status bar for Hyprland.",
                "website": "https://github.com/MalpenZibo/ashell",
                "thumbnail": "showcase/ashell.webp",
                "has_webp": false,
            },
            {
                "name": "Impactor",
                "description": "Feature rich iOS/tvOS sideloading application written in Rust.",
                "website": "https://github.com/khcrysalis/Impactor",
                "thumbnail": "showcase/impactor.png",
                "has_webp": false,
            },
            {
                "name": "XMODITS",
                "description": "A tool to bulk extract samples from various tracker modules with ease.",
                "website": "https://github.com/B0ney/xmodits",
                "thumbnail": "showcase/xmodits.png",
                "has_webp": false,
            },
            {
                "name": "Holodeck",
                "description": "An application to track, manage, and visualize your Pokémon TCG collection",
                "website": "https://github.com/hecrj/holodeck",
                "thumbnail": "showcase/holodeck.webp",
                "has_webp": false,
            },
            {
                "name": "Neothesia",
                "description": "A cross-platform GPU accelerated midi visualizer, built completely in Rust.",
                "website": "https://polymeilex.github.io/Neothesia",
                "thumbnail": "showcase/neothesia.gif",
                "has_webp": false,
            },
            {
                "name": "PumpBin",
                "description": "A flexible Implant Generation Platform for cybersecurity researchers.",
                "website": "https://github.com/pumpbin/pumpbin",
                "thumbnail": "showcase/pumpbin.png",
                "has_webp": false,
            },
            {
                "name": "Halo",
                "description": "A program for editing .wgsl shaders in real time!",
                "website": "https://github.com/bungoboingo/halo",
                "thumbnail": "showcase/halo.gif",
                "has_webp": true,
            },
            {
                "name": "Series Troxide",
                "description": "A simple and modern series tracker.",
                "website": "https://github.com/MaarifaMaarifa/series-troxide",
                "thumbnail": "showcase/series-troxide.png",
                "has_webp": false,
            },
            {
                "name": "Simplemoji",
                "description": "An application where you can have all the emojis; with easy and quick access.",
                "website": "https://github.com/SergioRibera/Simplemoji",
                "thumbnail": "showcase/simplemoji.gif",
                "has_webp": false,
            },
            {
                "name": "StableView",
                "description": "Easy, fast and efficient Head Tracking application using only webcam.",
                "website": "https://github.com/Shubhamai/StableView",
                "thumbnail": "showcase/stableview.gif",
                "has_webp": false,
            },
            {
                "name": "Vimini",
                "description": "A desktop gemini browser inspired by qutebrowser and Vim.",
                "website": "https://git.sr.ht/~lufte/vimini",
                "thumbnail": "showcase/vimini.gif",
                "has_webp": false,
            },
            {
                "name": "Universal Android Debloater NG",
                "description": "Cross-platform GUI written in Rust using ADB to debloat non-rooted android devices.",
                "website": "https://github.com/Universal-Debloater-Alliance/universal-android-debloater-next-generation",
                "thumbnail": "showcase/universal-android-debloater.png",
                "has_webp": false,
            },
            {
                "name": "NuhxBoard",
                "description": "A cross-platform alternative to NohBoard.",
                "website": "https://github.com/justdeeevin/nuhxboard",
                "thumbnail": "showcase/nuhxboard.png",
                "has_webp": false,
            },
            {
                "name": "Borderlands 3 Save Editor",
                "description": "A tool to help you modify your Borderlands 3 saves and profiles.",
                "website": "https://github.com/ZakisM/bl3_save_edit",
                "thumbnail": "showcase/bl3_save_edit.png",
                "has_webp": false,
            },
            {
                "name": "OctaSine",
                "description": "A free and open source frequency modulation synthesizer plugin (VST2, CLAP).",
                "website": "https://www.octasine.com/",
                "thumbnail": "showcase/octasine.png",
                "has_webp": false,
            },
            {
                "name": "Töörö Editor",
                "description": "Cross-platform sound editor for the Fred's Lab Töörö hardware synthesizer.",
                "website": "https://github.com/sourcebox/tooro-editor",
                "thumbnail": "showcase/tooro-editor.png",
                "has_webp": false,
            },
            {
                "name": "jstation-controller",
                "description": "A cross-platform interface to control the J-Station guitar and bass modeling and effect processing system.",
                "website": "https://github.com/fengalin/jstation-controller",
                "thumbnail": "showcase/jstation-controller.png",
                "has_webp": false,
            },
            {
                "name": "Offline Chess Puzzles",
                "description": "Tool to view and solve puzzles from the lichess puzzle database.",
                "website": "https://github.com/brianch/offline-chess-puzzles",
                "thumbnail": "showcase/offline-chess-puzzles.gif",
                "has_webp": false,
            },
            {
                "name": "Linkage",
                "description": "A desktop typing tutor, written in Rust.",
                "website": "https://github.com/linkage-rs/linkage",
                "thumbnail": "showcase/linkage.png",
                "has_webp": false,
            },
            {
                "name": "Ludusavi",
                "description": "A tool for backing up your PC video game save data.",
                "website": "https://github.com/mtkennerly/ludusavi",
                "thumbnail": "showcase/ludusavi.gif",
                "has_webp": false,
            },
            {
                "name": "ENSnano",
                "description": "A 3D graphical application for DNA nanostructures.",
                "website": "https://github.com/ensnano/ensnano",
                "thumbnail": "showcase/ensnano.png",
                "has_webp": false,
            },
            {
                "name": "enclone visual",
                "description": "A cross-platform graphical user interface (GUI) for enclone.",
                "website": "https://10xgenomics.github.io/enclone/pages/auto/visual.html",
                "thumbnail": "showcase/enclone-visual.png",
                "has_webp": false,
            },
            {
                "name": "iced_term",
                "description": "Terminal emulator widget powered by iced and alacritty.",
                "website": "https://github.com/Harzu/iced_term",
                "thumbnail": "showcase/iced_term.png",
                "has_webp": false,
            },
            {
                "name": "Game of Life",
                "description": "An interactive version of the Game of Life, invented by John Horton Conway.",
                "website": "https://github.com/iced-rs/iced/tree/master/examples/game_of_life",
                "thumbnail": "examples/game_of_life.gif",
                "has_webp": false,
            },
            {
                "name": "Todos",
                "description": "A todos tracker inspired by TodoMVC.",
                "website": "https://github.com/iced-rs/iced/tree/master/examples/todos",
                "thumbnail": "examples/todos.gif",
                "has_webp": false,
            },
            {
                "name": "Tuffous",
                "description": "A to-do manager, highly inspired by Things3.",
                "website": "https://github.com/DM-Earth/Tuffous",
                "thumbnail": "showcase/tuffous.png",
                "has_webp": false,
            },
            {
                "name": "PWDuck",
                "description": "A little duck 🦆 protecting your passwords. ",
                "website": "https://github.com/Kaiden42/PWDuck",
                "thumbnail": "showcase/pwduck.png",
                "has_webp": false,
            },
            {
                "name": "Spectrogram",
                "description": "A .WAV spectrogram visualizer.",
                "website": "https://github.com/JoshuaPostel/spectrogram",
                "thumbnail": "showcase/spectrogram.gif",
                "has_webp": false,
            },
            {
                "name": "FastOTP",
                "description": "Simple and secure TOTP token generator application.",
                "website": "https://gitlab.com/fastotp1/fastotp",
                "thumbnail": "showcase/fastotp.png",
                "has_webp": false,
            },
            {
                "name": "SMMDB Client",
                "description": "Save file editor for Super Mario Maker 2.",
                "website": "https://github.com/Tarnadas/smmdb-client",
                "thumbnail": "showcase/smmdb-client.png",
                "has_webp": false,
            },
        ];

        // Showcase Card Template
        const showcase_template = ({ name, description, website, thumbnail, has_webp }) => {
            // Providing fallback formats for Safari
            const file_ext_pos = thumbnail.lastIndexOf(".");
            const file_name = thumbnail.slice(0, file_ext_pos);
            const thumbnail_webp = `${file_name}.webp`;
            const source = has_webp ? `<source srcset="${thumbnail_webp}">` : "";

            return `
            <article>
                <header>
                    <a href="${website}">
                        <picture>
                            ${source}
                            <img src="${thumbnail}" loading="lazy">
                        </picture>
                    </a>
                </header>
                <h3><a href="${website}" class="contrast">${name}</a></h3>
                ${description}
            </article>
            `;
        }

        const showcase_container = document.getElementById("showcase-items");

        for (let { name, description, website, thumbnail, has_webp } of showcase_list) {
            showcase_container.insertAdjacentHTML("beforeend", showcase_template({
                name,
                description,
                website,
                thumbnail,
                has_webp
            }));
        } 
    </script>
</body>
</html>
